# Binaries
Bin/*
# Eclipse settings
.cproject
.project
.settings/*
# Temporary files
*.swp
# Visual Studio files
.vs
*.aps
*.ncb
*.db
*.opendb
*.plg
*.opt
VisualC6/mbrolalib/Debug
VisualC6/mbrolalib/Release
VisualC/Win32
VisualC/x64
VisualC/mbrolalib/Debug
VisualC/mbrolalib/Release
VisualC/mbrolalib/x64
